<h1 class="pagetitle">Create a new Server</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'List', :action => 'list' %>
