<%= error_messages_for 'test_suite_execution' %>

<!--[form:test_suite_execution]-->


<table class="table_body">
      <div style="display:none;">
      <%= text_field :test_suite_execution, :project_id, :value=>@project.id.to_s %>
      <%= text_field :test_suite_execution, :is_test, :value=>'true' %>
      <%= text_field :test_case, :id, :value=>@test_case.id %>
      <%= text_field :test_suite_execution, :description, :value=>'Test Case Preview' %>
      </div>
  <tr>
    <td class="label">
      <label class="label">Build</label><br/>
      <label class="sublabel">which version is this?</label>
    </td>
    <td class="entry">
      <%= render :partial=>"select_revision", :with=>@project.id %>
    </td>
  </tr>
  <tr>
    <td class="label">
        <label class="label">Environment</label><br/>
        <label class="sublabel">environment we're testing</label><br/>
    </td>
    <td class="entry">
      <%= render :partial=>"select_environment", :width=>@project.id %>
    </td>
  </tr>
  <tr>
    <td class="label">
      <label class="label">Server</label><br/>
      <label class="sublabel">server to run tests</label>
    </td>
    <td class="entry">
      <%= collection_select :test_suite_execution, :selenium_server_id, SeleniumServer.find(:all, :conditions=>"is_active = true"), :id, :name, {:prompt=>"Select an option.."}, :id=> 'selenium_server_id', :onchange=>"javascript:showDiv('browser_select_label');showDiv('browser_select');"%>
      <%= observe_field 'selenium_server_id', :update=> 'browser_select', :url => {:controller=>'test_suite_executions', :action=>'select_browser_control'}, :on => 'changed', :with => 'selenium_server_id', :before=>"$('browser_select').update('<img height=\"75\" width=\"75\" src=\"/images/loading.gif\">')"%>
    </td>
  </tr>
  <tr>
    <td class="label">
      <div id="browser_select_label" style="display: none;">
        <label class="label">Browsers</label><br/>
        <label class="sublabel">test which browsers?</label>
      </div>
    </td>
    <td class="entry">
      <div id="browser_select"  style="display:none;">
        <%= render :action=>'select_browser_control', :locals=>{:selenium_server_id => SeleniumServer.find(:first).id}%>
      </div>
    </td>
  </tr>
</table>




