<%= text_field 'revision', 'version', :size=>10 %>
<%= link_to_remote 'Create', :before=>"toggleDiv('new_revision');toggleDiv('add_button')", :url => {:controller=>"revisions", :action=>"add"}, :with=>"'project_id='+#{@project.id}+'&version='+$F('revision_version')", :update=>"revision_list" %>

