<table class="list_table">
  <tr class="header">
    <td>Name</td>
    <td>Selenium Name</td>
  </tr>

<% for browser in @browsers %>
  <tr onMouseOver="this.style.cursor = 'pointer'" onclick="document.location='<%= url_for :action=> :show, :id=>browser %>'" class="body-<%=cycle("even","odd")%>">
    <td><%=h browser.name %></td>
    <td><%=h browser.selenium_name %></td>
  </tr>
<% end %>
</table>
<br />
