<%= error_messages_for 'environment' %>

<!--[form:environment]-->
<p><label for="environment_name">Name</label><br/>
<%= text_field 'environment', 'name'  %></p>

<p><label for="environment_base_url">Base url</label><br/>
<%= text_field 'environment', 'base_url'  %></p>
<!--[eoform:environment]-->

