<input onBlur="clear_if_match(this, '', 'Name');" onClick="clear_if_match(this, 'Name');" id="environment_name" name="environment_name" size="15" type="text" value="Name" />
<input onBlur="clear_if_match(this, '', 'Base URL');" onClick="clear_if_match(this, 'Base URL');" id="environment_base_url" name="environment_base_url" size="45" type="text" value="Base URL" />
