<% for column in Environment.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @environment.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @environment %> |
<%= link_to 'Back', :action => 'list' %>
