<td style="vertical-align: top; text-align: right;">
          <ul class="NoBullet">
            <li style="margin-bottom: 20px;"><%= link_to 'View Results!', :controller=>:test_suite_executions, :action=>:list %></li>
            <li style="margin-bottom: 20px;"><%= link_to 'View Suites!', :controller=>:test_suites, :action=>:list %></li>
            <li style="margin-bottom: 20px;"><%= link_to 'View Test Cases!', :controller=>:test_cases, :action=>:list %></li>
            <li style="margin-bottom: 20px;"><%= link_to 'View Projects!', :controller=>:projects, :action=>:list %></li>
            <li style="margin-bottom: 20px;"><%= link_to 'View Servers!', :controller=>:selenium_servers, :action=>:list %></li>
          </ul>
        </td>
